<div class="container">
	<h1>Welcome to Barber Shop!</h1>

<div class="alert alert-info" role="alert">We are open</div>

<% t = Time.now %>


<table class="table reserved">
	<thead>
		<tr>
			<td colspan = "11"><%= t.strftime("%^A, %d %B") %></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/checkin" class="available alert-success">10:00</a></td>
			<td><a href="/checkin" class="available alert-success">11:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">13:00</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">17:00</a></td>
			<td><a href="/checkin" class="available alert-success">18:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11"><%= (t+86400).strftime("%^A, %d %B") %></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">11:00</a></td>
			<td><a href="/checkin" class="available alert-success">12:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">16:00</a></td>
			<td><a href="/checkin" class="available alert-success">17:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">20:00</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11"><%= (t+2*86400).strftime("%^A, %d %B") %></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/checkin" class="available alert-success">10:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">13:00</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a href="/checkin" class="available alert-success">15:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">19:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11"><%= (t+3*86400).strftime("%^A, %d %B") %></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/checkin" class="available alert-success">10:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">13:00</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a href="/checkin" class="available alert-success">15:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">17:00</a></td>
			<td><a href="/checkin" class="available alert-success">18:00</a></td>
			<td><a href="/checkin" class="available alert-success">19:00</a></td>
			<td><a href="/checkin" class="available alert-success">20:00</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11"><%= (t+4*86400).strftime("%^A, %d %B") %></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">11:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">16:00</a></td>
			<td><a href="/checkin" class="available alert-success">17:00</a></td>
			<td><a href="/checkin" class="available alert-success">18:00</a></td>
			<td><a href="/checkin" class="available alert-success">19:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11"><%= (t+5*86400).strftime("%^A, %d %B") %></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">14:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">17:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<td colspan = "11"><%= (t+6*86400).strftime("%^A, %d %B") %></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">13:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a href="/checkin" class="available alert-success">15:00</a></td>
			<td><a href="/checkin" class="available alert-success">16:00</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
			<td><a class="notavailable alert-danger">Reserved</a></td>
		</tr>
	</tbody>
</table>
</div>




